@font-face {
  font-family: "Lexend-Deca-Regular";
  src: url("../fonts/LexendDeca-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lexend-Deca-Extra-Bold";
  src: url("../fonts/LexendDeca-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Lexend-Deca-Bold";
  src: url("../fonts/LexendDeca-Bold.ttf") format("truetype");
}